.input-field div.error {
    position: relative;
    top: -0.7rem;
    left: 3rem;
    font-size: 0.8rem;
    color: #b71c1c;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}
