.nav-wrapper li:not(.avatar):hover{
    transition: background-color .7s;
    background-color: #004e51;
    /*background-color: #006064;*/
}
.nav-wrapper{
    padding-right: 40px;
    padding-left: 40px;
}
.nav-wrapper .brand-logo{
    margin-left: 1em;
    font-size: 2rem;
}
.nav-wrapper li.avatar{
    padding: 2em 3em 0 3em;
    background-color: #004e51;
}
.nav-wrapper li.avatar img.responsive-img{
    width: 150px;
    height: 150px;
}
li.avatar .profiles-link i:not(:last-child){
    margin-right: .2em;
}
