extends layout
block content
    div(class='navbar-fixed')
        nav
            div(class='nav-wrapper container transparent')
                a(class='brand-logo' href='#')
                    img(src='/images/lamp.png' class='image-responsive')
                a(class="button-collapse hide-on-large-only" href="#" data-activates="sideNav")
                    i(class="material-icons") menu
                ul(class='right hide-on-small-only')
                    li(class='bold')
                        a(href='#') Sign in
                    li
                        a(href='#') About us
                    li
                        a(href='#')
                            i(class='material-icons') chat
