extends layout
block content
    nav



    //div You are not login, please do it
    //    a(href='/auth/facebook') FACEBOOK
    //div You are not login, please do it
    //    a(href='/auth/github') GITHUB
    //div You are not login, please do it
    //    a(href='/auth/google') GOOGLE
