extends profile
block main
    -var topics = publicTopics
    link(rel='stylesheet' href='/stylesheets/controls/topics.css')
    div(class='row')
        if topics.length > 0
            each topic in topics
                include controls/topic
        else
            p(class="grey-text flow-text") Looks like there are no topics yet.
