extends profile
block main
    link(rel='stylesheet' href='/stylesheets/controls/feeds.css')
    div(class='grid' data-masonry='{"itemSelector": ".grid-item", "columnWidth": 300, "gutter": 20, "percentPosition": true}')
        div(class='grid-item')
            div(class='item-header')
                img(class='responsive-img circle' src='/images/refucktor.jpg')
                div(class='chip')
                    i(class='material-icons') thumb_up
                    label(class="left ups-counter") 12
                div(class='chip')
                    i(class='material-icons') thumb_down
                    label(class="left ups-counter") 20
            div(class="item-content")
                label This is exactly whatasdasda asd asda asda sdasd asdasdasd asd asd asd dfoidnf f asd asdas dasdasdasdasgdgsgwe sfasdasshtjh fdhd hs gshfgsdf sdsdfsdfsf sdf sd f ygvjhbjnmkjhcy fytf ug h jhv kjgv itf vyuv uyok iufytfhuv iyttuftuv
            div(class='item-footer')
                a(href='#' class='waves-effect waves-circle waves-light btn-floating grey voteDown')
                    i(class='material-icons') thumb_down
                a(class='waves-effect waves-circle waves-light btn-floating voteUp')
                    i(class='material-icons') thumb_up
        div(class='grid-item')
            div(class='item-header')
                img(class='responsive-img circle' src='/images/refucktor.jpg')
                div(class='chip')
                    i(class='material-icons') thumb_up
                    label(class="left ups-counter") 12
                div(class='chip')
                    i(class='material-icons') thumb_down
                    label(class="left ups-counter") 20
            div(class="item-content")
                label This is exactly whatasdasda asd asda asda sdasd asdasdasd
            div(class='item-footer')
                a(href='#' class='waves-effect waves-circle waves-light btn-floating grey voteDown')
                    i(class='material-icons') thumb_down
                a(class='waves-effect waves-circle waves-light btn-floating voteUp')
                    i(class='material-icons') thumb_up
        div(class='grid-item')
            div(class='item-header')
                img(class='responsive-img circle' src='/images/refucktor.jpg')
                div(class='chip')
                    i(class='material-icons') thumb_up
                    label(class="left ups-counter") 12
                div(class='chip')
                    i(class='material-icons') thumb_down
                    label(class="left ups-counter") 20
            div(class="item-content")
                label This is exactly whatasdasda asd asda asda sdasd asdasdasd asd asd asd asdasd asda
            div(class='item-footer')
                a(href='#' class='waves-effect waves-circle waves-light btn-floating grey voteDown')
                    i(class='material-icons') thumb_down
                a(class='waves-effect waves-circle waves-light btn-floating voteUp')
                    i(class='material-icons') thumb_up
        div(class='grid-item')
            div(class='item-header')
                img(class='responsive-img circle' src='/images/refucktor.jpg')
                div(class='chip')
                    i(class='material-icons') thumb_up
                    label(class="left ups-counter") 12
                div(class='chip')
                    i(class='material-icons') thumb_down
                    label(class="left ups-counter") 20
            div(class="item-content")
                label This is exactly whatasdasda asd asda asda sdasd asdasdasd asd asd asd sad sa das dasdasdas da
            div(class='item-footer')
                a(href='#' class='waves-effect waves-circle waves-light btn-floating grey voteDown')
                    i(class='material-icons') thumb_down
                a(class='waves-effect waves-circle waves-light btn-floating voteUp')
                    i(class='material-icons') thumb_up
        div(class='grid-item')
            div(class='item-header')
                img(class='responsive-img circle' src='/images/refucktor.jpg')
                div(class='chip')
                    i(class='material-icons') thumb_up
                    label(class="left ups-counter") 12
                div(class='chip')
                    i(class='material-icons') thumb_down
                    label(class="left ups-counter") 20
            div(class="item-content")
                label This is exactly whatasdasda asd asda asda sdasd asdasdasd asd asd asd sad sa das dasdasdas da
            div(class='item-footer')
                a(href='#' class='waves-effect waves-circle waves-light btn-floating grey voteDown')
                    i(class='material-icons') thumb_down
                a(class='waves-effect waves-circle waves-light btn-floating voteUp')
                    i(class='material-icons') thumb_up
        div(class='grid-item')
            div(class='item-header')
                img(class='responsive-img circle' src='/images/refucktor.jpg')
                div(class='chip')
                    i(class='material-icons') thumb_up
                    label(class="left ups-counter") 12
                div(class='chip')
                    i(class='material-icons') thumb_down
                    label(class="left ups-counter") 20
            div(class="item-content")
                label This is exactly whatasdasda asd asda asda sdasd asdasdasd asd asd asd sad sa das dasdasdas da
            div(class='item-footer')
                a(href='#' class='waves-effect waves-circle waves-light btn-floating grey voteDown')
                    i(class='material-icons') thumb_down
                a(class='waves-effect waves-circle waves-light btn-floating voteUp')
                    i(class='material-icons') thumb_up
        div(class='grid-item')
            div(class='item-header')
                img(class='responsive-img circle' src='/images/refucktor.jpg')
                div(class='chip')
                    i(class='material-icons') thumb_up
                    label(class="left ups-counter") 12
                div(class='chip')
                    i(class='material-icons') thumb_down
                    label(class="left ups-counter") 20
            div(class="item-content")
                label This is exactly whatasdasda asd asda asda sdasd asdasdasd asd asd asd sad sa das dasdasdas da
            div(class='item-footer')
                a(href='#' class='waves-effect waves-circle waves-light btn-floating grey voteDown')
                    i(class='material-icons') thumb_down
                a(class='waves-effect waves-circle waves-light btn-floating voteUp')
                    i(class='material-icons') thumb_up
        div(class='grid-item')
            div(class='item-header')
                img(class='responsive-img circle' src='/images/refucktor.jpg')
                div(class='chip')
                    i(class='material-icons') thumb_up
                    label(class="left ups-counter") 12
                div(class='chip')
                    i(class='material-icons') thumb_down
                    label(class="left ups-counter") 20
            div(class="item-content")
                label This is exactly whatasdasda asd asda asda sdasd asdasdasd asd asd asd sad sa das dasdasdas daasdasdas dasdasdqweqwe qweqw eqwe
            div(class='item-footer')
                a(href='#' class='waves-effect waves-circle waves-light btn-floating grey voteDown')
                    i(class='material-icons') thumb_down
                a(class='waves-effect waves-circle waves-light btn-floating voteUp')
                    i(class='material-icons') thumb_up
        div(class='grid-item')
            div(class='item-header')
                img(class='responsive-img circle' src='/images/refucktor.jpg')
                div(class='chip')
                    i(class='material-icons') thumb_up
                    label(class="left ups-counter") 12
                div(class='chip')
                    i(class='material-icons') thumb_down
                    label(class="left ups-counter") 20
            div(class="item-content")
                label This is exactly whatasdasda asd asda asda sdasd asdasdasd asd asd asd sad sa das dasdasdas daa sda sdasdasdasdas dasda
            div(class='item-footer')
                a(href='#' class='waves-effect waves-circle waves-light btn-floating grey voteDown')
                    i(class='material-icons') thumb_down
                a(class='waves-effect waves-circle waves-light btn-floating voteUp')
                    i(class='material-icons') thumb_up
        div(class='grid-item')
            div(class='item-header')
                img(class='responsive-img circle' src='/images/refucktor.jpg')
                div(class='chip')
                    i(class='material-icons') thumb_up
                    label(class="left ups-counter") 12
                div(class='chip')
                    i(class='material-icons') thumb_down
                    label(class="left ups-counter") 20
            div(class="item-content")
                label This is exactly whatasdasda asd asda asda sdasd asdasdasd asd asd asd sad sa das dasdasdas daasdasd asdas dasd
            div(class='item-footer')
                a(href='#' class='waves-effect waves-circle waves-light btn-floating grey voteDown')
                    i(class='material-icons') thumb_down
                a(class='waves-effect waves-circle waves-light btn-floating voteUp')
                    i(class='material-icons') thumb_up
        div(class='grid-item')
            div(class='item-header')
                img(class='responsive-img circle' src='/images/refucktor.jpg')
                div(class='chip')
                    i(class='material-icons') thumb_up
                    label(class="left ups-counter") 12
                div(class='chip')
                    i(class='material-icons') thumb_down
                    label(class="left ups-counter") 20
            div(class="item-content")
                label This is exactly whatasdasda asd asda asda sdasd asdasdasd asd asd asd sad sa das dasdasdas daasdasdasdasd
            div(class='item-footer')
                a(href='#' class='waves-effect waves-circle waves-light btn-floating grey voteDown')
                    i(class='material-icons') thumb_down
                a(class='waves-effect waves-circle waves-light btn-floating voteUp')
                    i(class='material-icons') thumb_up

    script(src='/bower_components/masonry/dist/masonry.pkgd.min.js')
