body{
    height: 100%!important;
    width: 100%!important;
}
main, footer {
    padding-left: 240px;
}
@media only screen and  (min-width: 1601px) {
    .modal{
        width: 40%;
    }
}
@media (min-width: 1201px) and (max-width: 1600px){
    .modal{
        width: 50%;
    }
}
@media (min-width: 993px) and (max-width: 1200px) {
    .modal{
        width: 60%;
    }
}
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
    .modal{
        width: 80%;
    }
}
.modal > .modal-content > h5,
.modal > .modal-content > h4,
.modal > .modal-content > h3{
    margin-bottom: 1em;
}
.modal#createTopic{
    height: 55%!important;
}
.modal#createFeed{
    height: 30%;
}
.modal textarea.materialize-textarea{
    padding-bottom: 0!important;
}
/*Modal*/
.input-field input.invalid+label:after,
.input-field textarea.invalid+label:after{
    min-width: 200px;
    margin-bottom: .5em;
}
