@import url(https://fonts.googleapis.com/css?family=Comfortaa);

.comf-font:not(i){
    font-family: Comfortaa!important;
}
header, main {
    padding-left: 240px;
}
@media only screen and  (min-width: 1601px) {
    ul.right{
        padding-right: 240px;
    }
    .modal{
        width: 40%;
    }
}
@media (min-width: 1201px) and (max-width: 1600px){
    ul.right{
        padding-right: 240px;
    }
    .modal{
        width: 50%;
    }
}
@media (min-width: 993px) and (max-width: 1200px) {
    header, main {
        padding-left: 0px;
    }
    .modal{
        width: 60%;
    }
}
@media only screen and (max-width : 992px) {
    header, main {
        padding-left: 0;
    }
    .modal{
        width: 80%;
    }
}

/*Modal*/
.modal > .modal-content > h5,
.modal > .modal-content > h4,
.modal > .modal-content > h3{
    margin-bottom: 1em;
}
.modal#createTopic{
    height: 55%!important;
}
.modal#createFeed{
    height: 30%;
}
.modal textarea.materialize-textarea{
    padding-bottom: 0!important;
}
.input-field input.invalid+label:after,
.input-field textarea.invalid+label:after{
    min-width: 200px;
    margin-bottom: .5em;
}
/*Forms*/
.input-field .form-select,
.input-field .file-path-wrapper,
.input-field .file-path-wrapper label{
    width: calc(100% - 3rem)!important;
    margin-left: 3rem!important;
    padding-left: 0!important;
}
.material-icons.prefix{
    top: .65em!important;
    font-size: 1.6rem;
}

/*****CARDS*****/
.topic-card{
    width: 100%!important;
}
.topic-card .card-image{
    max-height: 85%!important;
    height: 85%;
}
.topic-card .card-image img{
    height: 100%;
}
.topic-card .card-content{
    height: 15%!important;
}
.topic-card .card-image > .card-title{
    width: 100%;
    background-color: rgba(0,0,0,.8);
    padding: 10px 20px;
}
.topic-card .description{
    max-height: 70%;
    overflow-y: auto;
}

/******BUTTONS******/
.btn-fluid{
    width: 100%;
}
