extends ../index
block center_content
    link(rel='stylesheet' href='/stylesheets/controls/feeds.css')
    div(class='col l8 m8 s10')
        ul(class='collection feeds')
            li(class='collection-item avatar')
                img(class='circle' src='/images/refucktor.jpg')
                span(class='title')
                p(class='feed-text') Did you know how amazing and powerful is NodeJs, we are unstopable, Just try it! aasdas asd asd asd aq weqgsfgedgf asrtghm slkdjf asduoahfmsdgfkui afsdas dasdasdhgiuj nsadf aqdfasdasdojk
                div(class='chip')
                    i(class='material-icons left') start
                    label(class='left') 108
                div(class='chip')
                    i(class='material-icons left') star_outline
                    label(class='left') 45
                div(class='secondary-content')
                    a(href='#' class='waves-effect waves-circle waves-light btn-floating')
                        i(class='material-icons') star
                    a(href='#' class='waves-effect waves-circle waves-light btn-floating grey')
                        i(class='material-icons') star_outline
            li(class='collection-item avatar')
                img(class='circle' src='/images/refucktor.jpg')
                span(class='title')
                p(class='feed-text') Did you know how amazing and powerful is NodeJs, we are unstopable, Just try it! aasdas asd asd asd aq weqgsfgedgf asrtghm slkdjf asduoahfmsdgfkui afsdas dasdasdhgiuj nsadf aqdfasdasdojk
                div(class='chip')
                    i(class='material-icons left') start
                    label(class='left') 108
                div(class='chip')
                    i(class='material-icons left') star_outline
                    label(class='left') 45
                div(class='secondary-content')
                    a(href='#' class='waves-effect waves-circle waves-light btn-floating')
                        i(class='material-icons') star
                    a(href='#' class='waves-effect waves-circle waves-light btn-floating grey')
                        i(class='material-icons') star_outline
            li(class='collection-item avatar')
                img(class='circle' src='/images/refucktor.jpg')
                span(class='title')
                p(class='feed-text') Did you know how amazing and powerful is NodeJs, we are unstopable, Just try it! aasdas asd asd asd aq weqgsfgedgf asrtghm slkdjf asduoahfmsdgfkui afsdas dasdasdhgiuj nsadf aqdfasdasdojk
                div(class='chip')
                    i(class='material-icons left') start
                    label(class='left') 108
                div(class='chip')
                    i(class='material-icons left') star_outline
                    label(class='left') 45
                div(class='secondary-content')
                    a(href='#' class='waves-effect waves-circle waves-light btn-floating')
                        i(class='material-icons') star
                    a(href='#' class='waves-effect waves-circle waves-light btn-floating grey')
                        i(class='material-icons') star_outline
    div(class="fixed-action-btn" style="bottom: 45px; right: 24px")
        a(class="btn-floating btn-large cyan darken-4")
            i(class="large material-icons") mode_edit
    script(src='/javascripts/feeds.js')

