link(rel='stylesheet' href='/stylesheets/controls/home.css')
div.container
    div.row
        div(class='col s4 m4 l2 offset-s8 offset-m8 offset-l10 login-panel')
            a(class='waves-effect waves-light btn') Sign in with Facebook
            a(class='waves-effect waves-light btn') Sign in with Google
            a(class='waves-effect waves-light btn') Sign in with LinkedIn
            a(class='waves-effect waves-light btn') Sign in with GitHub
