extends ../profile

block main
    - var myTopics = topics
    link(rel='stylesheet' href='/stylesheets/controls/topics.css')
    div(class='row')
        if myTopics.length > 0
            each item in myTopics
                div(class='col l3 m6 s12')
                    div(class="card small topic-card")
                        div(class="card-image waves-effect waves-block waves-light")
                            img(class='activator centered-cropped' src=item.pictureUrl)
                            span(class="card-title") #{item.name}
                        div(class="card-content")
                            span(class="card-title activator grey-text text-darken-4")
                                i(class="material-icons right") more_vert
                            a(href="/feeds/"+item.roomId style='display: block' class='left-align')
                                i(class='material-icons prefix tooltipped' data-tooltip='Feeds' data-position='right' data-delay='50' ) lightbulb_outline
                        div(class="card-reveal")
                            span(class="card-title grey-text text-darken-4") #{item.name}
                                i(class="material-icons right") close
                            p #{item.description}
    div(class="fixed-action-btn" style="bottom: 45px; right: 50px")
        a(class="btn-floating btn-large cyan darken-4 tooltipped" href="/mytopics/create" data-position="top" data-tooltip="Create new Topic")
            i(class="large material-icons") add
