extends ../profile

block main
    - var topics = myTopics
    link(rel='stylesheet' href='/stylesheets/controls/topics.css')
    div(class='row')
        if topics.length > 0
            each topic in topics
                include topic

    div(class="fixed-action-btn" style="bottom: 45px; right: 50px")
        a(class="btn-floating btn-large cyan darken-4 tooltipped" href="/mytopics/create" data-position="top" data-tooltip="Create new Topic")
            i(class="large material-icons") add
