link(rel='stylesheet', href='/stylesheets/controls/navbar.css')
div(class='navbar-fixed')
    nav
        div(class='nav-wrapper cyan darken-3')
            a(class='brand-logo comf-font' href='#') #{title}
            a(class="button-collapse hide-on-large-only" href="#" data-activates="sideNav")
                i(class="material-icons") menu
            ul(class='right hide-on-small-only')
                li(class='tooltipped' data-position="bottom" data-tooltip="Publics topics")
                    a(href='/topics')
                        i(class='material-icons') view_module
                li(class='tooltipped' data-position="bottom" data-tooltip="Log out")
                    a(href='/logout')
                        i(class='material-icons show-always') power_settings_new
            ul(class='side-nav fixed cyan darken-4' id='sideNav')
                li(class='avatar')
                    img(class='circle responsive-img z-depth-3' src=profile.loginAvatarUrl)
                    span(class='profiles-link center-align')
                        i(class="fa fa-facebook-square fa-2x" aria-hidden="true")
                        i(class="fa fa-google-plus-square fa-2x" aria-hidden="true")
                        i(class="fa fa-linkedin-square fa-2x" aria-hidden="true")
                        i(class="fa fa-github-square fa-2x" aria-hidden="true")
                li(class='no-padding')
                    a(class='cyan-text text-lighten-5' href='/mytopics') My Topics
                        i(class="material-icons left") collections_bookmark
                li(class='no-padding')
                    a(class='cyan-text text-lighten-5' href='#') Stats
                        i(class="material-icons left") assessment

