link(rel='stylesheet', href='/stylesheets/controls/navbar.css')
nav.toi-navbar
    div.nav-wrapper.container.toi-font.x8
        ul(id="nav-mobile" class="right hide-on-med-and-down")
            li
                a(href="sass.html") About us
            li
                a(href="badges.html") Components
            li
                a(href="collapsible.html") JavaScript
