.foi-box{
    position: fixed;
    top: 48%;
    right: 0;
    background-color: rgba(20,20,20,.7);
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    padding: .3em .3em;
    box-shadow: 1px 1px 4px 1px rgb(100,100,100);
    z-index: 10000;
}
.foi-box *{
    color: white;
}
.foi-icon-box:hover, .foi-box:hover{
    transition: opacity .7s;
    opacity: 1;
    cursor: pointer;
}
.foi-icon-box, .foi-box{
    transition: opacity 1s;
    opacity: .1;
}
.foi-icon-box img{
    width: 30px;
    height: 45px;
}
.foi-info-box{
    display: none;
    width: 250px;
}
.foi-box-header{
    padding: .2em .8em;
}
.foi-info-box .foi-header-text{
    font-size: 1rem;
    vertical-align: sub;
    color: rgb(0, 209, 255);
}
.foi-create-feed{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    border: none;
    background-color: rgb(0,145,190);
    font-size: 1.15rem;
    float: right;
}
ul.foi-feed-list{
    width: 100%;
    max-height: 400px;
    font-size: .75rem;
    color: rgb(50,50,50);
    padding: 0 .8em;
}
ul.foi-feed-list li:not(:last-child){
    border-bottom: 1px solid rgba(150,150,150,.4);
    margin-bottom: .4em;
}
.foi-feed-list li label{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid rgb(200,200,200);
    padding: 5px;
    display: inline-block;
    margin-right: .6em;
}
.foi-feed-list li label.done{
    background-color: rgb(200,200,200);
}
.foi-create-panel{
    display: none;
    margin-top: 1em;
    padding: 0 .8em;
}
.foi-create-panel button{
    border-radius: 2px;
    border: none;
    margin: .8em 0 1em .8em;
    font-size: .85em;
    padding: .4em .8em;
    float: right;
}
.new-feed-text{
    resize: none;
    width: 100%;
    font-size: .75em;
    height: auto;
    padding: .5em;
    border: 1px solid rgb(0,145,190);
}
.cancel-new-feed{
    background-color: rgb(0,0,0);
    color: rgb(220,220,220);
}
.send-new-feed{
    background-color: rgb(0,145,190)
}
