@import url(https://fonts.googleapis.com/css?family=Comfortaa);

.foi-box{
    position: fixed;
    top: 40%;
    right: 0;
    background-color: rgba(20,20,20,.7);
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    padding: .3em .3em;
    box-shadow: 1px 1px 4px 1px rgb(100,100,100);
    z-index: 10000;
}
.foi-box *{
    color: white;
    font-family: Comfortaa, serif !important;
}
.foi-box button:focus,
.foi-box a:focus{
    outline: none;
}
.foi-box a{
    text-decoration: none;
}
.foi-icon-box:hover, .foi-box:hover{
    transition: opacity .7s;
    opacity: 1;
}
.foi-icon-box:hover{
    cursor: pointer;
}
.foi-icon-box, .foi-box{
    transition: opacity 1s;
    opacity: .5;
}
.foi-icon-box img{
    width: 30px;
    height: 45px;
}
.foi-info-box{
    display: none;
    width: 250px;
}
.foi-box-header{
    padding: .2em .8em;
}
.foi-info-box .foi-header-text{
    font-size: 1rem;
    vertical-align: sub;
    color: rgb(0, 209, 255);
}
.hide-foi-box{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    border: none;
    background-color: rgb(0,145,190);
    font-size: 1rem;
    float: right;
    cursor: pointer;
}
.hide-foi-box:focus{
    border: none!important;
    outline: none;
}
ul.foi-feed-list{
    width: 100%;
    max-height: 400px;
    font-size: .75rem;
    color: rgb(50,50,50);
    padding: 0 .8em;
    list-style-type: none;
}
ul.foi-feed-list li:not(:last-child){
    border-bottom: 1px solid rgba(150,150,150,.4);
}
ul.foi-feed-list li{
    padding: .6em .2em;
}
.foi-feed-list li label{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid rgb(200,200,200);
    padding: 2px;
    display: inline-block;
    margin-right: .6em;
    vertical-align: middle;
    font-size: .85em;
}
.foi-feed-list li label.done{
    background-color: rgb(200,200,200);
}
.foi-create-panel{
    margin-top: 1em;
    padding: 0 .8em;
    text-align: right;
}
.foi-create-panel button{
    border-radius: 2px;
    border: none;
    font-size: .85em;
    padding: .3em .8em;
}
.new-feed-text{
    resize: vertical;
    width: 93%;
    font-size: .85em;
    margin: 0 5% 0 0;
    height: auto;
    padding: .5em;
    border: 1px solid rgb(0,145,190);
    background-color: rgb(100,100,100);
}
.cancel-new-feed{
    background-color: rgb(0,0,0);
    color: rgb(220,220,220);
}
.send-new-feed{
    background-color: rgb(0,145,190);
    width: 100%;
}
